<div class="margin-top-10 height-auto bg-white">
    <div class="row margin-10">
        <div class="panel panel-default border-none">
            <div class="panel-heading bg-white">
                <h2><span class="glyphicon glyphicon-random"></span> &nbsp;课程分配</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-offset-1 col-md-2">
                        <label class="control-label">请选择班级:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="classItem" ng-change="toggleClass();"
                                ng-options="item.name for item in classArr"></select>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <table class="table table-bordered table-fixed">
                        <thead>
                        <tr>
                            <td class="text-center" ng-repeat="item in cols" ng-bind="item"></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="white-space-pre-wrap border-none bg-white text-center font-px-12"
                                ng-repeat="item in strArr[1] track by $index" ng-bind="item"
                                ng-click="toggleCourse(1, $index);"></td>
                        </tr>
                        <tr>
                            <td class="white-space-pre-wrap border-none bg-white text-center font-px-12"
                                ng-repeat="item in strArr[2] track by $index" ng-bind="item"
                                ng-click="toggleCourse(2, $index);"></td>
                        </tr>
                        <tr>
                            <td class="white-space-pre-wrap border-none bg-white text-center font-px-12"
                                ng-repeat="item in strArr[3] track by $index" ng-bind="item"
                                ng-click="toggleCourse(3, $index);"></td>
                        </tr>
                        <tr>
                            <td class="white-space-pre-wrap border-none bg-white text-center font-px-12"
                                ng-repeat="item in strArr[4] track by $index" ng-bind="item"
                                ng-click="toggleCourse(4, $index);"></td>
                        </tr>
                        <tr>
                            <td class="white-space-pre-wrap border-none bg-white text-center font-px-12"
                                ng-repeat="item in strArr[5] track by $index" ng-bind="item"
                                ng-click="toggleCourse(5, $index);"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 课程选择模态框 -->
<div id="courseModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="courseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content top-red">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="courseModalLabel">选择课程</h4>
            </div>
            <div class="modal-body">
                <form name="courseForm">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">课程名称:</label>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control" ng-model="courseItem"
                                    ng-options="item.name for item in courseArr"></select>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">上课地点:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" ng-model="address"
                                   placeholder="请输入上课地点" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">起止周数:</label>
                        </div>
                        <div class="col-md-2">
                            <input type="number" min="1" max="22" class="form-control"
                                   ng-model="beginWeek" placeholder="起" required/>
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">-</label>
                        </div>
                        <div class="col-md-2">
                            <input type="number" min="1" max="20" class="form-control"
                                   ng-model="endWeek" placeholder="止" required/>
                        </div>
                    </div>
                </form>
                <br/>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-5">
                        <button class="btn btn-xs btn-danger" data-dismiss="modal"
                                ng-click="deleteDistribution();">
                            删除当前已选课程
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" ng-click="setCourse();"
                    ng-disabled="courseForm.$invalid">确定</button>
                <button class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>