<div class="margin-top-10 height-auto bg-white">
    <div class="row margin-10">
        <div class="panel panel-default border-none">
            <div class="panel-heading bg-white">
                <h2><span class="glyphicon glyphicon-camera"></span> &nbsp;宣传管理</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-offset-1 col-md-2">
                        <label class="control-label">请选择宣传类型:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="propagateType"
                                ng-options="item for item in propagateTypes"></select>
                    </div>
                    <div class="col-md-3 pull-right">
                        <button class="btn btn-success" ng-click="createModalShow();">新建{{propagateType}}</button>
                    </div>
                </div>
                <hr/>
                <h3>{{propagateType}}&nbsp;(点击修改 | 删除)</h3>
                <hr/>
                <!-- 公司宣传 -->
                <div class="row" ng-show="propagateType == propagateTypes[0]">
                    <div class="col-md-6" ng-repeat="item in propagateArr">
                        <a class="color-deep-gray" ng-click="updateModalShow(item.id);">
                            <div class="row border-gray padding-5">
                                <div class="col-md-6">
                                    <img class="bg-img poster-img-height" src="{{item.picture_path}}" alt="公司宣传">
                                </div>
                                <div class="col-md-6">
                                    <label class="one-line">
                                        <span class="badge" ng-bind="item.company_type"></span>
                                        {{item.title}}
                                    </label>
                                    <p class="one-line" ng-bind="'企业名称: '+item.company_name"></p>
                                    <p class="one-line" ng-bind="'宣传内容: '+item.content"></p>
                                    <p>......</p>
                                </div>
                            </div>
                        </a>
                        <br/>
                    </div>
                </div>
                <!-- 活动宣传 -->
                <div class="row" ng-show="propagateType == propagateTypes[1]">
                    <div class="col-md-6" ng-repeat="item in propagateArr">
                        <a class="color-deep-gray" ng-click="updateModalShow(item.id);">
                            <div class="row border-gray padding-5">
                                <div class="col-md-6">
                                    <img class="bg-img poster-img-height" src="{{item.picture_path}}" alt="公司宣传">
                                </div>
                                <div class="col-md-6">
                                    <label class="one-line">
                                        <span class="badge" ng-bind="item.type"></span>
                                        {{item.title}}
                                    </label>
                                    <p class="one-line" ng-bind="'联系方式: '+item.phone_number"></p>
                                    <p class="one-line" ng-bind="'宣传内容: '+item.content"></p>
                                    <p>......</p>
                                </div>
                            </div>
                        </a>
                        <br/>
                    </div>
                </div>
                <!-- 课程宣传 -->
                <div class="row" ng-show="propagateType == propagateTypes[2]">
                    <div class="col-md-6" ng-repeat="item in propagateArr">
                        <a class="color-deep-gray" ng-click="updateModalShow(item.id);">
                            <div class="row border-gray padding-5">
                                <div class="col-md-6">
                                    <img class="bg-img poster-img-height" src="{{item.picture_path}}" alt="公司宣传">
                                </div>
                                <div class="col-md-6">
                                    <label class="one-line">
                                        {{item.title}}
                                    </label>
                                    <p class="one-line" ng-bind="'课程名称: '+item.course_name"></p>
                                    <p class="one-line" ng-bind="'宣传内容: '+item.content"></p>
                                    <p>......</p>
                                </div>
                            </div>
                        </a>
                        <br/>
                    </div>
                </div>
                <!-- 优秀学子 -->
                <div class="row" ng-show="propagateType == propagateTypes[3]">
                    <div class="col-md-6" ng-repeat="item in propagateArr">
                        <a class="color-deep-gray" ng-click="updateModalShow(item.id);">
                            <div class="row border-gray padding-5">
                                <div class="col-md-6">
                                    <img class="bg-img poster-img-height" src="{{item.photo_path}}" alt="公司宣传">
                                </div>
                                <div class="col-md-6">
                                    <label class="one-line">
                                        <span class="badge">优秀</span>
                                        {{item.student_name}}
                                    </label>
                                    <p class="one-line" ng-bind="'个人简介: '+item.profile"></p>
                                    <p class="one-line" ng-bind="'个人宣言: '+item.declaration"></p>
                                    <p>......</p>
                                </div>
                            </div>
                        </a>
                        <br/>
                    </div>
                </div>
                
                <!-- 分页 -->
                <div class="row text-center" ng-show="propageteArr.length>0">
                    <ul class="pagination pagination-md">
                        <li ng-repeat="btn in pageBtns">
                            <a href="#" ng-bind="btn" ng-click="pageClick(btn)"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 企业宣传模态框 -->
<div id="companyPropagateModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="companyPropagateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content top-red">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="companyPropagateModalLabel">企业宣传</h4>
            </div>
            <div class="modal-body">
                <form name="companyPropagateForm">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">宣传标题:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" type="text" ng-model="companyTitle"
                                placeholder="请输入标题" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">宣传内容:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" tabindex="-1" type="text" placeholder="点击输入..."
                                   ng-click="contentModalShow();" ng-model="propagateContent" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">宣传图片:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" tabindex="-1" type="text" placeholder="点击选择本地文件..."
                                  ng-model="pictureName" ng-click="imageUploadModalShow();"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">企业名称:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" type="text" ng-model="companyName"
                                   placeholder="请输入企业名称" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">企业类型:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" type="text" tabindex="-1" ng-model="companyType"
                                   ng-click="companyTypeModalShow();" placeholder="点击选择..."/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">企业地址:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" type="text" ng-model="companyAddress"
                                   placeholder="请输入企业地址" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">联系方式:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" type="text" ng-model="companyPhone"
                                   placeholder="请输入联系方式" required/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" ng-click="createCompanyPropagate()"
                    ng-disabled="companyPropagateForm.$invalid" ng-show="createAction">确定</button>
                <button class="btn btn-default" ng-show="createAction" data-dismiss="modal">关闭</button>
                
                <button class="btn btn-info" ng-click="updateCompanyPropagate()"
                        ng-disabled="companyPropagateForm.$invalid" ng-hide="createAction">修改</button>
                <button class="btn btn-danger" ng-hide="createAction"
                        ng-click="deleteCompanyPropagate()">删除</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 活动宣传模态框 -->
<div id="activityPropagateModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="activityPropagateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content top-red">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="activityPropagateModalLabel">活动宣传</h4>
            </div>
            <div class="modal-body">
                <form name="activityPropagateForm">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">宣传标题:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" type="text" ng-model="activityTitle"
                                   placeholder="请输入标题" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">宣传内容:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" tabindex="-1" type="text" placeholder="点击输入..."
                                   ng-click="contentModalShow();" ng-model="propagateContent" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">活动类型:</label>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control" ng-options="item.name for item in activityTypes"
                                    ng-model="activityType"></select>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">宣传图片:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" tabindex="-1" type="text" placeholder="点击选择本地文件..."
                                   ng-model="pictureName" ng-click="imageUploadModalShow()"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">负责组织:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" type="text" ng-model="activityMan"
                                   placeholder="请输入负责人" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">联系方式:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" type="text" ng-model="activityPhone"
                                   placeholder="请输入联系方式" required/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" ng-click="createActivityPropagate()"
                        ng-disabled="activityPropagateForm.$invalid" ng-show="createAction">确定</button>
                <button class="btn btn-default" ng-show="createAction" data-dismiss="modal">关闭</button>
                
                <button class="btn btn-info" ng-click="updateActivityPropagate()"
                        ng-disabled="activityPropagateForm.$invalid" ng-hide="createAction">修改</button>
                <button class="btn btn-danger" ng-hide="createAction"
                        ng-click="deleteCompanyPropagate()">删除</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 课程宣传模态框 -->
<div id="coursePropagateModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="coursePropagateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content top-red">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="coursePropagateModalLabel">课程宣传</h4>
            </div>
            <div class="modal-body">
                <form name="coursePropagateForm">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">课程编号:</label>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control" ng-options="item.num for item in courses"
                                    ng-model="course"></select>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">宣传标题:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" type="text" ng-model="courseTitle"
                                   placeholder="请输入标题" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">宣传内容:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" tabindex="-1" type="text" placeholder="点击输入..."
                                   ng-click="contentModalShow();" ng-model="propagateContent" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">宣传图片:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" tabindex="-1" type="text" placeholder="点击选择本地文件..."
                                   ng-model="pictureName" ng-click="imageUploadModalShow()"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- 创建按钮 -->
                <button class="btn btn-info" ng-click="createCoursePropagate()"
                        ng-disabled="coursePropagateForm.$invalid" ng-show="createAction">确定</button>
                <button class="btn btn-default" ng-show="createAction" data-dismiss="modal">关闭</button>
                
                <!-- 修改删除按钮 -->
                <button class="btn btn-info" ng-click="updateCoursePropagate()"
                        ng-disabled="coursePropagateForm.$invalid" ng-hide="createAction">修改</button>
                <button class="btn btn-danger" ng-hide="createAction"
                        ng-click="deleteCompanyPropagate()">删除</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 优秀学子模态框 -->
<div id="excellentStudentModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="excellentStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content top-red">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="excellentStudentModalLabel">优秀学子</h4>
            </div>
            <div class="modal-body">
                <form name="studentPropagateForm">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">学员编号:</label>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control" ng-options="item.username for item in excellentStudents"
                                    ng-model="excellentStudent"></select>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">个人简介:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" tabindex="-1" type="text" placeholder="点击输入..."
                                   ng-click="contentModalShow();" ng-model="propagateContent" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">学员照片:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" tabindex="-1" type="text" placeholder="点击选择本地文件..."
                                   ng-model="pictureName" ng-click="imageUploadModalShow()"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">所获荣誉:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" tabindex="-1" type="text" placeholder="点击输入..."
                                   ng-click="honorContentModalShow();" ng-model="honorContent" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <label class="control-label">个人宣言:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" tabindex="-1" type="text" placeholder="点击输入..."
                                   ng-click="declarationContentModalShow();" ng-model="declarationContent" required/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- 创建按钮 -->
                <button class="btn btn-info" ng-click="createExcellentStudent()"
                        ng-disabled="studentPropagateForm.$invalid" ng-show="createAction">确定</button>
                <button class="btn btn-default" ng-show="createAction" data-dismiss="modal">关闭</button>
    
                <!-- 修改删除按钮 -->
                <button class="btn btn-info" ng-click="updateExcellentStudent()"
                        ng-disabled="studentPropagateForm.$invalid" ng-hide="createAction">修改</button>
                <button class="btn btn-danger" ng-hide="createAction"
                        ng-click="deleteExcellentStudent()">删除</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 企业类型模态框 -->
<div id="companyTypeModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="companyTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content top-red">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="companyTypeModalLabel">企业类型</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <button class="btn btn-default margin-5 company-type" ng-repeat="item in companyTypes track by $index"
                            ng-bind="item" ng-click="toggleSelect(item);"></button>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 宣传内容模态框 -->
<div id="contentModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="contentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content top-red">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="contentModalLabel">宣传内容</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control textarea-size2" ng-model="propagateContent"
                          placeholder="内容..."></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="resetContent();">清空</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 所获荣誉模态框 -->
<div id="honorContentModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="honorContentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content top-red">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="honorContentModalLabel">所获荣誉</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control textarea-size2" ng-model="honorContent"
                          placeholder="所获荣誉..."></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="resetContent();">清空</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 个人宣言模态框 -->
<div id="declarationContentModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="declarationContentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content top-red">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="declarationContentModalLabel">个人宣言</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control textarea-size2" ng-model="declarationContent"
                          placeholder="个人宣言..."></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="resetContent();">清空</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 图片上传模态框 -->
<div id="imageUploadModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="imageUploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content top-red">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="imageUploadModalLabel">图片上传</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-offset-3 col-md-5">
                        <input id="uploader" name="imgUploader" type="file" nv-file-select="" uploader="uploader" multiple/>
                    </div>
                </div>
                <br/>
                <div class="row" ng-repeat="item in uploader.queue">
                    <div class="col-md-offset-1 col-md-2">
                        <label class="control-label">已选文件:</label>
                    </div>
                    <div class="col-md-5">
                        <p class="text-feature one-line" ng-bind="item.file.name"></p>
                    </div>
                    <div class="col-md-3">
                        <p class="text-feature" nowrap>
                            {{item.file.size/1024|number:2}}&nbsp;KB
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-info" ng-click="uploader.uploadAll();"-->
                        <!--ng-disabled="!uploader.getNotUploadedItems().length">-->
                    <!--<span class="glyphicon glyphicon-upload"></span>&nbsp;上传</button>-->
                <button class="btn btn-info" ng-click="getPicture();"
                        ng-disabled="!uploader.getNotUploadedItems().length">确定</button>
                <button class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
