*{
    margin:0;
    padding:0;
}

/* 修改bootstrap样式 */
.control-label{
    padding-top:7px;
}
.row{
    margin: 0;
}

/* 通用样式 */
.bg-white{
    background-color: #fff !important;
}

.bg-default{
    background-color: #ecf0f5 !important;
}

.color-gray{
    color: #8c8c8c !important;
}

.color-deep-gray{
    color: #7a7a7a !important;
}

.color-deep-gray:hover{
    color: #5a5a5a !important;
}

.color-white{
    color: #fff !important;
}

.div-circle{
    /*border-radius: 50% !important;*/
}

.one-line{
    word-wrap:break-word;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.block-display{
    display: block;
}

.divider-bar{
    background: #ecf0f5;
    height: 10px;
    width: 100%;
}

.border-radius-3{
    border-radius: 3px;
}
.border-none{
    border: none;
    box-shadow: none;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.table-fixed{
    table-layout: fixed;
}

.padding-5{
    padding: 5px;
}
.padding-none{
    padding: 0;
}

.margin-5{
    margin: 5px;
}

.margin-none{
    margin: 0;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-center{
    margin-left: auto;
    margin-right: auto;
}

.bg-img{
    max-width: 100%;
    height: auto;
}

.bigger-hover:hover{
    width: 100%;
    transition: ease 1000ms;
}

.bigger-font-hover:hover{
    font-size: 16px;
    transition: ease 1000ms;
}

.relative{
    position: relative;
}

.bg-none{
    background: transparent;
}

.text-index{
    color:#7a7a7a;
    font-size: 1.3em;
    font-weight: 200;
    line-height: 1.8;
    text-align: left;
    text-indent: 20px;
}

.text-feature{
    font-size: 1.3em;
    font-weight: 200;
    line-height: 1.8;
}

.map-size{
    height: 200px;
}

/* 定制样式 */
#rootCtrl{
    height:100%;
    overflow: hidden;
    overflow-y: auto;
}

.main-content{
    background-color: #ecf0f5;
    height:100%;
    margin: 50px 0 0 0;
}

.left-navbar{
    width:230px;
    float:left;
    background-color:#222d32;
}

.right-box{
    width: calc(100% - 230px);
    float: left;
}

.fixed-propagate{
    position: fixed;
    width:20%;
    margin-left:61%;
}

.teach-feature{
    margin-bottom: 20px;
    width: 100%;
    float: left;
    position: relative !important;
}

.teach-feature .teach-feature-bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #161A1D;
    opacity: 0.6;
}

.teach-feature .teach-feature-text{
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}

.teach-feature:hover .teach-feature-bg{
    background: #00c2de;
    opacity: 0.6;
}

.feature-icon{
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 80;
}

.feature-icon p{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #E50012;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
    font-size: 26px;
}

.feature-bg{
    position: absolute;
    height: 60px;
    left: 32%;
    top: 0;
    right: 32%;
    background: #ecf0f5;
    z-index: 70;
}

.feature-content{
    height: 210px;
    width: 100%;
    border: 2px solid #ccc;
    margin-top: 30px;
    padding: 30px 5px;
    border-radius: 6px;
    z-index: 10;
    text-align: center;
}

@media (max-width: 2120px){
    .height-auto{
        height: 100%;
        min-height: 800px;
    }
}

@media (max-width: 1440px){
    .height-auto{
        height: 100%;
        min-height: 600px;
    }
}

@media (max-width: 1200px){
    .height-auto{
        height: 100%;
        min-height: 550px;
    }
}

@media (min-width: 1024px){
    #loginContainer{
        background:url("../images/mis/bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .phone-pic{
        position: absolute;
        top:20%;
    }

    .mobile-show{
        display: none;
    }
}

@media (min-width: 768px){
    .teach-feature{
        width: 20% !important;
    }

    .map-size{
        height: 400px;
    }
}