<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <base href="/"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>格局商学院信息管理</title>
    <link rel="stylesheet" media="screen" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" media="screen" href="bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.css"/>
    <link rel="stylesheet" media="screen" href="bower_components/angular-loading-bar/build/loading-bar.min.css"/>
    <link rel="stylesheet" media="screen" href="bower_components/angularjs-toaster/toaster.min.css"/>
    <link rel="stylesheet" media="screen" href="bower_components/json-formatter/dist/json-formatter.min.css"/>
    <link rel="stylesheet" media="screen" href="bower_components/perfect-scrollbar/min/perfect-scrollbar.min.css"/>
    <link rel="stylesheet" media="screen" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"/>
    
    <!--<link href="//cdn.quilljs.com/1.2.4/quill.snow.css" rel="stylesheet">-->
    <!--<link href="//cdn.quilljs.com/1.2.4/quill.bubble.css" rel="stylesheet">-->
    <!--<link href="//cdn.quilljs.com/1.2.4/quill.core.css" rel="stylesheet">-->
    
    <link rel="stylesheet" media="screen" href="stylesheets/style.css"/>
    <link rel="shortcut icon" href="images/favico.ico"/>
</head>

<body>
<div id="rootCtrl" ui-view="rootView" ng-controller="rootCtrl"></div>

<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
<!--<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>-->
<script type="text/javascript" src="bower_components/angularjs-toaster/toaster.min.js"></script>
<script type="text/javascript" src="bower_components/json-formatter/dist/json-formatter.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
<script type="text/javascript" src="bower_components/echarts/build/dist/echarts-all.js"></script>
<script type="text/javascript" src="bower_components/perfect-scrollbar/min/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="bower_components/angular-perfect-scrollbar/src/angular-perfect-scrollbar.js"></script>
<script type="text/javascript" src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<!--<script src="//cdn.quilljs.com/1.2.4/quill.js"></script>-->
<!--<script src="//cdn.quilljs.com/1.2.4/quill.min.js"></script>-->
<!--<script src="//cdn.quilljs.com/1.2.4/quill.core.js"></script>-->

<script type="text/javascript" src="javascripts/app-mis.js"></script>
</body>
</html>