<div class="margin-top-10 height-auto bg-white">
<!-- 	<div class="row">
		<div class="col-md-2 text-center">
			<label class="control-label">请选择档案类型:</label>
		</div>
		<div class="col-md-4">
			<select class="form-control" ng-model="documentType" 
			ng-options="item for item in documentTypes" ng-change="toggleDocumentType();"></select>
		</div>
	</div> -->
    <div class="row">
    	<!-- content left -->
    	<div class="col-md-2">
    		<div class="row margin-10">
    			<div class="row text-center">
    				<button class="btn btn-danger" ng-click="documentTypeModalShow();">
    					选择档案类型
    				</button>
    			</div>
    			<div class="row text-center margin-top-10">
    				<button class="btn btn-danger" ng-click="createDocument();">
    					新建{{documentType}}档案
    				</button>
    			</div>
    		</div>
    		<div class="row margin-10">
    			<div class="row top-red">
    				<div class="row margin-top-10">
    					<input class="form-control" type="text" placeholder="搜索"/>
    				</div>
	    			<div id="document-tree" class="row margin-top-10 border-gray inner-nav-tree-auto">
	    			</div>
    			</div>
    		</div>
    	</div>
    	<!-- content right -->
    	<div class="col-md-10 bg-blue">
    		<div class="row margin-10" ui-view="documentManage">

    		</div>
    	</div>
    </div>
</div>

<!-- 班级档案创建模态框 -->
<div id="classModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="classModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="classModalLabel">新建班级档案</h4>
            </div>
            <div class="modal-body">
            	<form id="classForm">
	            	<div class="row">
	            		<div class="col-md-offset-1 col-md-3">
	            			<label class="control-label">
	            				姓名:
	            			</label>
	            		</div>
	            		<div class="col-md-5">
	            			<input class="form-control" type="text" ng-model="studentName" placeholder="姓名不可为空" required/>
	            		</div>
	            	</div>
	            	<hr/>
	            	<div class="row">
	            		<div class="col-md-offset-1 col-md-3">
	            			<label class="control-label">
	            				姓名:
	            			</label>
	            		</div>
	            		<div class="col-md-5">
	            			<input class="form-control" type="text" ng-model="studentName" placeholder="姓名不可为空" required/>
	            		</div>
	            	</div>
            	</form>
            </div>
            <div class="modal-footer">
            	<button class="btn btn-info" ng-click="createClassDocument()" ng-disabled="classForm.$invalid">
            	确定</button>
            	<button class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 学生档案创建模态框 -->
<div id="studentModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="studentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="studentModalLabel">新建学生档案</h4>
            </div>
            <div class="modal-body">
            	<form id="studentForm">
	            	<div class="row">
	            		<div class="col-md-offset-1 col-md-3">
	            			<label class="control-label">
	            				姓名:
	            			</label>
	            		</div>
	            		<div class="col-md-5">
	            			<input class="form-control" type="text" ng-model="studentName" placeholder="姓名不可为空" required/>
	            		</div>
	            	</div>
	            	<hr/>
	            	<div class="row">
	            		<div class="col-md-offset-1 col-md-3">
	            			<label class="control-label">
	            				账号:
	            			</label>
	            		</div>
	            		<div class="col-md-5">
	            			<input class="form-control" type="text" ng-model="studentAccount" placeholder="账号不可为空" required/>
	            		</div>
	            	</div>
	            	<hr/>
	            	<div class="row">
	            		<div class="col-md-offset-1 col-md-3">
	            			<label class="control-label">
	            				密码:
	            			</label>
	            		</div>
	            		<div class="col-md-5">
	            			<input class="form-control" type="password" ng-model="studentPassword" placeholder="密码不可为空" required/>
	            		</div>
	            	</div>
	            	<hr/>
	            	<div class="row">
	            		<div class="col-md-offset-1 col-md-3">
	            			<label class="control-label">
	            				重复密码:
	            			</label>
	            		</div>
	            		<div class="col-md-5">
	            			<input class="form-control" type="password" ng-model="studentPasswordAgain" placeholder="密码不可为空" required/>
	            		</div>
	            	</div>
            	</form>
            </div>
            <div class="modal-footer">
            	<button class="btn btn-info" ng-click="createStudentDocument()" ng-disabled="studentForm.$invalid">
            	确定</button>
            	<button class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 教师档案创建模态框 -->
<div id="teacherModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="teacherModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content top-red">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="teacherModalLabel">新建教师档案</h4>
            </div>
            <div class="modal-body">
            	<form id="teacherForm" name="teacherForm">
	            	<div class="row">
	            		<div class="col-md-offset-1 col-md-3">
	            			<label class="control-label">
	            				姓名:
	            			</label>
	            		</div>
	            		<div class="col-md-5">
	            			<input class="form-control" type="text" ng-model="teacherName" placeholder="姓名不可为空" required/>
	            		</div>
	            	</div>
	            	<hr/>
	            	<div class="row">
	            		<div class="col-md-offset-1 col-md-3">
	            			<label class="control-label">
	            				账号:
	            			</label>
	            		</div>
	            		<div class="col-md-5">
	            			<input class="form-control" type="text" ng-model="teacherAccount" placeholder="账号不可为空" required/>
	            		</div>
	            	</div>
	            	<hr/>
	            	<div class="row">
	            		<div class="col-md-offset-1 col-md-3">
	            			<label class="control-label">
	            				密码:
	            			</label>
	            		</div>
	            		<div class="col-md-5">
	            			<input class="form-control" type="password" ng-model="teacherPassword" placeholder="密码不可为空" required/>
	            		</div>
	            	</div>
	            	<hr/>
	            	<div class="row">
	            		<div class="col-md-offset-1 col-md-3">
	            			<label class="control-label">
	            				重复密码:
	            			</label>
	            		</div>
	            		<div class="col-md-5">
	            			<input class="form-control" type="password" ng-model="teacherPasswordAgain" placeholder="密码不可为空" required/>
	            		</div>
	            	</div>
            	</form>
            </div>
            <div class="modal-footer">
            	<button class="btn btn-info" ng-click="createTeacherDocument()" ng-disabled="teacherForm.$invalid">
            	确定</button>
            	<button class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 档案类型选择模态框 -->
<div id="documentTypeModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="documentTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content top-red">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="documentTypeModalLabel">选择档案类型</h4>
            </div>
            <div class="modal-body">
            	<div class="row">
            		<div class="col-md-offset-1 col-md-3">
            			<label class="control-label">档案类型:</label>
            		</div>
            		<div class="col-md-2" ng-repeat="item in documentTypes">
            			<button class="btn btn-default" ng-click="toggleDocumentType(item);">
            			{{item}}</button>
            		</div>
            	</div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>