<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="row">
            <br/>
            <h1>格局商学院</h1>
            <hr/>
            <div class="row" ng-repeat="item in college.txts">
                <div class="col-md-3 col-sm-3">
                    <p class="text-feature" ng-bind="item.label"></p>
                </div>
                <div class="col-md-9 col-sm-9">
                    <p class="text-feature" ng-bind="item.content"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p class="text-feature" ng-bind="college.QRCode.label">微信公众号:</p>
                </div>
                <div class="col-md-3 col-sm-12 text-center" ng-click="QRModalShow();">
                    <img class="bg-img" src="{{college.QRCode.content}}" alt="徐州格局商学院微信公众号二维码"/>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <h1>系统开发者</h1>
            <hr/>
            <div class="row" ng-repeat="item in developer.txts">
                <div class="col-md-3 col-sm-3">
                    <p class="text-feature" ng-bind="item.label"></p>
                </div>
                <div class="col-md-9 col-sm-9">
                    <p class="text-feature" ng-bind="item.content"></p>
                    <label>(如有bug, 请及时反馈!)</label>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>

<div id="QRModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="phoneModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="QRModalLabel">微信公众号二维码</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <img class="bg-img" src="{{college.QRCode.content}}" alt="徐州格局商学院微信公众号二维码"/>
                </div>
                <br/>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>