<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h1>格局商学徐州分院</h1>
        <hr/>
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="bg-img" src="{{xuzhou.president.picture_path}}" alt="格局商学徐州分院院长"/>
            </div>
            <div class="col-md-8">
    
                <div class="panel panel-default border-none">
                    <div class="panel-heading bg-default">
                        <h2>徐州分院已开班,快来加入吧！</h2>
                    </div>
                    <div class="panel-body bg-default">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">培训费:</label>
                            </div>
                            <div class="col-md-8">
                                <p>￥19800</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">汇款名称:</label>
                            </div>
                            <div class="col-md-8">
                                <p>江苏新引领教育咨询有限公司</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">开户行及账号:</label>
                            </div>
                            <div class="col-md-8">
                                <p>470268976637(中国银行徐州青年路支行营业部)</p>
                                <p>6217866100003929242(中国银行 王红军)</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer bg-default">
                        <p class="text-index pull-right">院长:高宁</p>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1>格局商学江苏分院</h1>
        <hr/>
        <div class="row">
            <!-- 江苏分院院长 -->
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="bg-img" src="{{jiangsu.president.picture_path}}" alt="格局商学江苏分院院长"/>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default border-none">
                        <div class="panel-heading bg-default">
                            <h2>院长寄语</h2>
                        </div>
                        <div class="panel-body bg-default">
                            <div class="row">
                                <p class="text-index" ng-bind="jiangsu.president.speech"></p>
                            </div>
                        </div>
                        <div class="panel-footer bg-default">
                            <p class="text-index pull-right">院长:王芳</p>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="panel panel-default border-none">
                    <div class="panel-heading bg-default">
                        <h3>发展前景</h3>
                    </div>
                    <div class="panel-body bg-default">
                        <div class="row">
                            <p class="text-index" ng-bind="jiangsu.prospect"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default border-none">
                    <div class="panel-heading bg-default">
                        <h3>五大增值体系</h3>
                    </div>
                    <div class="panel-body bg-default">
                        <div class="row">
                            <img class="bg-img" src="{{jiangsu.increment.picture_path}}" alt="格局商学江苏五大增值体系"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <h1>格局商学江苏其他分院</h1>
        <hr/>
        <div class="row">
            <div class="row margin-top-10" ng-repeat="row in other_college">
                <div class="col-md-6 col-sm-12" ng-repeat="item in row">
                    <img class="bg-img" src="{{item.picture_path}}" alt="{{item.label}}"/>
                    <p class="text-center text-feature" ng-bind="item.label"></p>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    </div>
</div>