<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h1>格局商学徐州分院</h1>
        <hr/>
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="bg-img" src="images/door/character_gaoning.jpg" alt="格局商学徐州分院院长"/>
            </div>
            <div class="col-md-8">
    
                <div class="panel panel-default border-none">
                    <div class="panel-heading bg-default">
                        <h2>徐州分院已开班,快来加入吧！</h2>
                    </div>
                    <div class="panel-body bg-default">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">培训费:</label>
                            </div>
                            <div class="col-md-8">
                                <p>￥19800</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">汇款名称:</label>
                            </div>
                            <div class="col-md-8">
                                <p>江苏新引领教育咨询有限公司</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">开户行及账号:</label>
                            </div>
                            <div class="col-md-8">
                                <p>470268976637(中国银行徐州青年路支行营业部)</p>
                                <p>6217866100003929242(中国银行 王红军)</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer bg-default">
                        <p class="text-index pull-right">院长:高宁</p>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1>格局商学江苏分院</h1>
        <hr/>
        <div class="row">
            <!-- 江苏分院院长 -->
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="bg-img" src="images/door/character_wangfang.jpg" alt="格局商学江苏分院院长"/>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default border-none">
                        <div class="panel-heading bg-default">
                            <h2>院长寄语</h2>
                        </div>
                        <div class="panel-body bg-default">
                            <div class="row">
                                <p class="text-index">格局商学不是互联网公司，是一家商学院，我们只是用互联网提高教学效率，保留传统教育氛围，我们是在做教育+互联网，未来格局商学会把高端教育做到极致，把学员服务做到极致。</p>
                            </div>
                        </div>
                        <div class="panel-footer bg-default">
                            <p class="text-index pull-right">院长:王芳</p>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="panel panel-default border-none">
                    <div class="panel-heading bg-default">
                        <h3>发展前景</h3>
                    </div>
                    <div class="panel-body bg-default">
                        <div class="row">
                            <p class="text-index">格局商学江苏分院计划在未来的3年里，成立40家以上地市分院，计划年服务培养长期班企业家3万人次。并充分利用格局商学线上线下的互联网教学平台，增加各地平台相互的联动性，不断为江苏企业家提供各类增值服务，致力成为江苏地区最大的企业家校友圈，为校友提供在管理教育以为的商业信息、科技信息、金融信息、管理咨询等服务内容，以广泛的活跃度、多样性的活动内容，以不断沉淀的企业家校友资源大数据，搭建各类服务平台，助力江苏地区民营经济企业腾飞。塑造厚德、崇文、实业、创新的苏商精神。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default border-none">
                    <div class="panel-heading bg-default">
                        <h3>五大增值体系</h3>
                    </div>
                    <div class="panel-body bg-default">
                        <div class="row">
                            <img class="bg-img" src="images/door/increment.jpg" alt="格局商学江苏五大增值体系"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <h1>格局商学江苏其他分院</h1>
        <hr/>
        <div class="row">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <img class="bg-img" src="images/door/college_wuxixishan.jpg" alt="格局商学无锡锡山分院"/>
                    <p class="text-center text-feature">格局商学无锡锡山分院</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img class="bg-img" src="images/door/college_wuxihuishan.jpg" alt="格局商学无锡惠山分院"/>
                    <p class="text-center text-feature">格局商学无锡惠山分院</p>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <img class="bg-img" src="images/door/college_jiangyin.jpg" alt="格局商学江阴分院"/>
                    <p class="text-center text-feature">格局商学江阴分院</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img class="bg-img" src="images/door/college_yixing.jpg" alt="格局商学宜兴分院"/>
                    <p class="text-center text-feature">格局商学宜兴分院</p>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <img class="bg-img" src="images/door/college_changzhou.jpg" alt="格局商学常州分院"/>
                    <p class="text-center text-feature">格局商学常州分院</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img class="bg-img" src="images/door/college_suzhou.jpg" alt="格局商学苏州分院"/>
                    <p class="text-center text-feature">格局商学苏州分院</p>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <img class="bg-img" src="images/door/college_kunshan.jpg" alt="格局商学昆山分院"/>
                    <p class="text-center text-feature">格局商学昆山分院</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img class="bg-img" src="images/door/college_nanjing.jpg" alt="格局商学南京分院"/>
                    <p class="text-center text-feature">格局商学南京分院</p>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <img class="bg-img" src="images/door/college_zhangjiagang.jpg" alt="格局商学张家港分院"/>
                    <p class="text-center text-feature">格局商学张家港分院</p>
                </div>
            </div>
            <br/>
        </div>
        <br/>
    </div>
</div>