<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="row">
            <br/>
            <h1>格局商学院</h1>
            <hr/>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <p class="text-feature">地址:</p>
                </div>
                <div class="col-md-9 col-sm-9">
                    <p class="text-feature">徐州市格局商学院（泉山区大学路7号矿大南湖校区东门北600米晴朗谷)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <p class="text-feature">临近地点:</p>
                </div>
                <div class="col-md-9 col-sm-9">
                    <p class="text-feature">云龙湖、矿大南湖校区、泉山森林公园、晴朗谷游泳馆、张伯英艺术馆等</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <p class="text-feature">联系电话:</p>
                </div>
                <div class="col-md-9 col-sm-9">
                    <p class="text-feature">83897966 83897968</p>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <h1>系统开发者</h1>
            <hr/>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <p class="text-feature">电子邮箱:</p>
                </div>
                <div class="col-md-9 col-sm-9">
                    <p class="text-feature">lonelydawn@sina.com</p>
                    <label>(如有bug, 请及时反馈!)</label>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
</div>