<div class="row">
    <!-- 幻灯片轮播器 -->
    <div class="row">
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators" style="bottom: 0;">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item" ng-class="{'true':'active','false':''}[item.active]"
                     ng-repeat="item in slide">
                        <img src="{{item.path}}" alt="{{item.alt}}">
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <!-- 格局商学介绍 -->
            <div class="row">
                <div class="panel panel-default border-none">
                    <div class="panel-heading bg-default">
                        <h1>格局商学</h1>
                    </div>
                    <div class="panel-body bg-default">
                        <p class="text-index" ng-repeat="item in intro" ng-bind="item"></p>
                    </div>
                </div>
            </div>
            <hr/>
            <!-- 格局商学优势 -->
            <div class="row">
                <div class="panel panel-default border-none">
                    <div class="panel-heading bg-default">
                        <h1>格局商学五大竞争优势</h1>
                    </div>
                    <div class="panel-body bg-default">
                        <div class="alert alert-info" ng-repeat="item in advantage">
                            <div class="col-md-2"><label ng-bind="item.label"></label></div>
                            <div class="col-md-10" ng-bind="item.content"></div>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <!-- 格局商学特色 -->
            <div class="row">
                <div class="panel panel-default border-none">
                    <div class="panel-heading bg-default">
                        <h1>格局商学四大特色</h1>
                    </div>
                    <div class="panel-body bg-default">
                        <div class="row">
                            <div class="col-md-3" ng-repeat="item in feature">
                                <div class="row div-circle bg-white">
                                    <div class="col-md-offset-2 col-md-8 color-deep-gray">
                                        <h3 class="text-center" ng-bind="item.title"></h3>
                                        <p class="text-center" ng-repeat="content in item.contents" ng-bind="content"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <!-- 格局商学创始人 -->
            <div class="row">
                <div class="row">
                    <h1>格局商学创始人</h1>
                </div>
                <div class="col-md-4 text-center">
                    <img class="bg-img" src="{{creater.picture_path}}" alt="邢志清"/>
                </div>
                <div class="col-md-8">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="panel panel-default border-none">
                            <div class="panel-heading bg-default">
                                <h2>创始人寄语</h2>
                                <br/>
                            </div>
                            <div class="panel-body bg-default">
                                <p class="text-index" ng-bind="creater.speech"></p>
                                <br/>
                            </div>
                            <div class="panel-footer bg-default">
                                <p class="text-index pull-right">创始人:邢志清</p>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <!-- 格局商学创始人团队-->
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h1>格局商学创始人团队</h1>
        </div>
        <div class="row">
            <img class="bg-img" src="{{createrTeam.picture_path}}" alt="创始人团队"/>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <!-- 格局商学服务项目 -->
    <div class="row">
        <div class="row">
            <img class="bg-img" src="{{service.picture_path}}" alt="服务项目"/>
        </div>
    </div>
    <br/>
</div>