<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <!-- 格局教学实景拍摄 -->
        <div class="row">
            <h1>格局教学实景拍摄</h1>
            <hr/>
            <div class="row margin-top-10" ng-repeat="row in views">
                <div class="col-md-6 col-sm-12" ng-repeat="item in row">
                    <img class="bg-img" src="{{item.picture_path}}" alt="{{item.label}}"/>
                    <p class="text-center text-feature" ng-bind="item.label"></p>
                </div>
            </div>
        </div>
        <br/>
        <!-- 格局教学特色 -->
        <div class="row">
            <h1>格局教学五大特色</h1>
            <hr/>
            <div class="row">
                <div class="teach-feature" ng-repeat="item in feature">
                    <img class="bg-img" src="{{item.picture_path}}" alt="{{item.label}}"/>
                    <div class="teach-feature-bg"></div>
                    <div class="teach-feature-text color-white text-center">
                        <h1><span class="{{item.class}}"></span></h1>
                        <p class="text-feature" ng-bind="item.label"></p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
    </div>
</div>