<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h1>格局商学徐州分院</h1>
        <hr/>
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="bg-img" src="{{president.picture_path}}" alt="格局商学徐州分院院长"/>
            </div>
            <div class="col-md-8">
                
                <div class="panel panel-default border-none">
                    <div class="panel-heading bg-default">
                        <h2>欢迎来到徐州分院！</h2>
                    </div>
                    <div class="panel-body bg-default">
                        <p class="text-feature" ng-bind="president.speech"></p>
                    </div>
                    <div class="panel-footer bg-default">
                        <p class="text-index pull-right">院长:高宁</p>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <h1>徐州分院学院荣誉</h1>
        <hr/>
        <div class="row">
            <div class="col-md-6" ng-repeat="item in honor">
                <img class="bg-img" src="{{item.picture_path}}" alt="{{item.label}}"/>
                <p class="text-center text-feature" ng-bind="item.label"></p>
            </div>
        </div>
        <br/>
        <br/>
        <h1>徐州分院学习掠影</h1>
        <hr/>
        <div class="row">
            <div class="col-md-6" ng-repeat="item in study">
                <img class="bg-img" src="{{item.picture_path}}" alt="{{item.label}}"/>
                <p class="text-center text-feature" ng-bind="item.label"></p>
            </div>
        </div>
        <br/>
        <br/>
        <h1>徐州分院学员风采</h1>
        <hr/>
        <div class="row">
            <div class="col-md-6" ng-repeat="item in student">
                <img class="bg-img" src="{{item.picture_path}}" alt="{{item.label}}"/>
                <p class="text-center text-feature" ng-bind="item.label"></p>
            </div>
        </div>
        <br/>
        <br/>
        <h1>徐州分院学院活动</h1>
        <hr/>
        <div class="row">
            <div class="row" ng-repeat="act in activity">
                <h3 ng-bind="act.title"></h3>
                <div class="col-md-6 margin-top-10" ng-repeat="item in act.picture_path">
                    <img class="bg-img" src="{{item}}" alt="{{act.title}}"/>
                </div>
            </div>
            <hr/>
        </div>
        <br/>
        <br/>
    </div>
</div>